<div>
  <form>
        <input class="username" type="text" placeholder='Username'>
        <input class="password" type="text" placeholder='Password'>
        <input class="LogInButton" type="submit" value='Log In'>
  </form>
</div>