<div>
  <form>
        <input class="email" type="text" placeholder='E-mail'>
        <input class="username" type="text" placeholder='Username'>
        <input class="password" type="text" placeholder='Password'>
        <input class="SignUpButton" type="submit" value='Log In'>
  </form>
</div>